<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <title>About</title>
  </head>
  <body>
    <nav class="header">
      <div class="navbar-brand">WEB322 - Divanshu Ahuja</div>
      <div class="nav-list">
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
        <a href="/posts">Posts</a>
        <a href="/categories">Categories</a>
      </div>
    </nav>
    <div class="about">
      <h2>About</h2>
      <p>
        This is a sample web page to demonstrate app that uses multiple routes
        which serve static files (HTML & CSS).
      </p>
    </div>
  </body>
</html>
