<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WEb Assignment-2</title>
    <link rel="stylesheet" href="\public\css\main.css" />
  </head>
  <body>
    <h2>Welcome To my Website</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolor
      sequi nulla atque saepe consectetur omnis aliquam ullam corporis,
      voluptatem dicta assumenda a? Perferendis tempore eum ea omnis tenetur
      corporis.
    </p>
  </body>
</html>
