<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Category</title>
  </head>
  <body>
    <h1>Add Category</h1>
    <hr />
    <form action="/categories/add" method="post">
      <label for="category">Category:</label>
      <br />
      <input
        style="width: 100%; padding: 1rem;"
        type="text"
        name="category"
        id="category"
        autofocus
      />
      <br /><hr />
      <button class="btn btn-success">Add Category</button>
    </form>
  </body>
</html>