<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Post</title>
  </head>
  <body>
    <h1>Add Post</h1>
    <form action="/posts/add" enctype="multipart/form-data" method="post">
      <h2>Feature Image</h2>
      <hr />
      <input name="featureImage" id="featureImage" type="file" />

      <h2>Post Content</h2>
      <hr />
      <label for="title">Title:</label> <br />
      <input type="text" name="title" id="title" /> <br />
      <label for="body">Body:</label> <br />
      <textarea name="body" id="body"></textarea> <br />

      <label for="category">Category:</label> <br />
      <select name="category" id="category">
        <option value="1">Technology</option>
        <option value="2">Gaming</option>
        <option value="3">Fashion</option>
        <option value="4">Education</option>
        <option value="5">Wellness</option>
      </select>
      <br />

      <p>Visibility:</p>
      <input type="checkbox" name="published" id="published" value="true" />
      <label for="published">Published</label>
      <hr />
      <button>Add Post</button>
    </form>
  </body>
</html>
