<h1>Register</h1>
<hr />
{{#if errorMessage}}
  <div class="alert alert-danger">
    <strong>Error:</strong>
    {{errorMessage}}</div>
{{/if}}
{{#if successMessage}}
  <div class="alert alert-success">
    <strong>Success:</strong>
    {{successMessage}}</div><a
    class="btn btn-success pull-right"
    href="/login"
  >&nbsp;&nbsp;&nbsp;Proceed to Log in&nbsp;&nbsp;&nbsp;</a><br /><br /><br />
{{else}}
  <form action="/register" method="post" style="text-align: right;">
    <input
      style="min-width: 100%; padding: 1rem; border-radius: 0.5rem; border: 1px black solid;"
      type="text"
      name="userName"
      placeholder="User Name"
      required
    />
    <br />
    <br />
    <input
      type="password"
      style="min-width: 100%; padding: 1rem; border-radius: 0.5rem; border: 1px black solid;"
      name="password"
      placeholder="Password"
      required
    />
    <br />
    <br />
    <input
      type="password"
      style="min-width: 100%; padding: 1rem; border-radius: 0.5rem; border: 1px black solid;"
      name="password2"
      placeholder="Confirm Password"
      required
    />
    <br />
    <br />
    <input
      type="email"
      style="min-width: 100%; padding: 1rem; border-radius: 0.5rem; border: 1px black solid;"
      name="email"
      placeholder="Email Address"
      required
    />
    <br />
    <br />
    <button
      class="btn btn-success"
      style="padding: 1rem 2rem; "
    >Register</button>
  </form>
{{/if}}