body {
  background-color: aliceblue;
  font-family: "Alata", sans-serif;
  font-weight: bold;
  font-size: larger;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin-left: 77%;
  text-decoration: none;
}

.header {
  padding: 1rem;
  padding-bottom: 6.9rem;
}

.about {
  padding: 1rem;
}
